a {
  text-decoration: none;
  color: black;
}

.fixed {
  position: fixed;
  left: 0;
  width: 175px;
  padding: 10px 20px;
  text-align: left;
  border-right: 1px solid gray;
  height: 100vh;
  font-family: 'Glory', sans-serif;
}
